<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>space</key>
    <string>space.glif</string>
    <key>exclamation_mark</key>
    <string>exclamation_mark.glif</string>
    <key>quotation_mark</key>
    <string>quotation_mark.glif</string>
    <key>number_sign</key>
    <string>number_sign.glif</string>
    <key>dollar_sign</key>
    <string>dollar_sign.glif</string>
    <key>euro_sign</key>
    <string>euro_sign.glif</string>
    <key>pound_sign</key>
    <string>pound_sign.glif</string>
    <key>yen_sign</key>
    <string>yen_sign.glif</string>
    <key>copyright_sign</key>
    <string>copyright_sign.glif</string>
    <key>registered_sign</key>
    <string>registered_sign.glif</string>
    <key>percent_sign</key>
    <string>percent_sign.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>single_quote</key>
    <string>single_quote.glif</string>
    <key>left_parenthesis</key>
    <string>left_parenthesis.glif</string>
    <key>right_parenthesis</key>
    <string>right_parenthesis.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus_sign</key>
    <string>plus_sign.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>latin_capital_letter_a</key>
    <string>latin_capital_letter_a.glif</string>
    <key>latin_capital_letter_b</key>
    <string>latin_capital_letter_b.glif</string>
    <key>latin_capital_letter_c</key>
    <string>latin_capital_letter_c.glif</string>
    <key>latin_capital_letter_d</key>
    <string>latin_capital_letter_d.glif</string>
    <key>latin_capital_letter_e</key>
    <string>latin_capital_letter_e.glif</string>
    <key>latin_capital_letter_f</key>
    <string>latin_capital_letter_f.glif</string>
    <key>latin_capital_letter_g</key>
    <string>latin_capital_letter_g.glif</string>
    <key>latin_capital_letter_h</key>
    <string>latin_capital_letter_h.glif</string>
    <key>latin_capital_letter_i</key>
    <string>latin_capital_letter_i.glif</string>
    <key>latin_capital_letter_j</key>
    <string>latin_capital_letter_j.glif</string>
    <key>latin_capital_letter_k</key>
    <string>latin_capital_letter_k.glif</string>
    <key>latin_capital_letter_l</key>
    <string>latin_capital_letter_l.glif</string>
    <key>latin_capital_letter_m</key>
    <string>latin_capital_letter_m.glif</string>
    <key>latin_capital_letter_n</key>
    <string>latin_capital_letter_n.glif</string>
    <key>latin_capital_letter_o</key>
    <string>latin_capital_letter_o.glif</string>
    <key>latin_capital_letter_p</key>
    <string>latin_capital_letter_p.glif</string>
    <key>latin_capital_letter_q</key>
    <string>latin_capital_letter_q.glif</string>
    <key>latin_capital_letter_r</key>
    <string>latin_capital_letter_r.glif</string>
    <key>latin_capital_letter_s</key>
    <string>latin_capital_letter_s.glif</string>
    <key>latin_capital_letter_t</key>
    <string>latin_capital_letter_t.glif</string>
    <key>latin_capital_letter_u</key>
    <string>latin_capital_letter_u.glif</string>
    <key>latin_capital_letter_v</key>
    <string>latin_capital_letter_v.glif</string>
    <key>latin_capital_letter_w</key>
    <string>latin_capital_letter_w.glif</string>
    <key>latin_capital_letter_x</key>
    <string>latin_capital_letter_x.glif</string>
    <key>latin_capital_letter_y</key>
    <string>latin_capital_letter_y.glif</string>
    <key>latin_capital_letter_z</key>
    <string>latin_capital_letter_z.glif</string>
    <key>left_square_bracket</key>
    <string>left_square_bracket.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>right_square_bracket</key>
    <string>right_square_bracket.glif</string>
    <key>ascii_caret</key>
    <string>ascii_caret.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave_accent</key>
    <string>grave_accent.glif</string>
    <key>latin_small_letter_a</key>
    <string>latin_small_letter_a.glif</string>
    <key>latin_small_letter_b</key>
    <string>latin_small_letter_b.glif</string>
    <key>latin_small_letter_c</key>
    <string>latin_small_letter_c.glif</string>
    <key>latin_small_letter_d</key>
    <string>latin_small_letter_d.glif</string>
    <key>latin_small_letter_e</key>
    <string>latin_small_letter_e.glif</string>
    <key>latin_small_letter_f</key>
    <string>latin_small_letter_f.glif</string>
    <key>latin_small_letter_g</key>
    <string>latin_small_letter_g.glif</string>
    <key>latin_small_letter_h</key>
    <string>latin_small_letter_h.glif</string>
    <key>latin_small_letter_i</key>
    <string>latin_small_letter_i.glif</string>
    <key>latin_small_letter_j</key>
    <string>latin_small_letter_j.glif</string>
    <key>latin_small_letter_k</key>
    <string>latin_small_letter_k.glif</string>
    <key>latin_small_letter_l</key>
    <string>latin_small_letter_l.glif</string>
    <key>latin_small_letter_m</key>
    <string>latin_small_letter_m.glif</string>
    <key>latin_small_letter_n</key>
    <string>latin_small_letter_n.glif</string>
    <key>latin_small_letter_o</key>
    <string>latin_small_letter_o.glif</string>
    <key>latin_small_letter_p</key>
    <string>latin_small_letter_p.glif</string>
    <key>latin_small_letter_q</key>
    <string>latin_small_letter_q.glif</string>
    <key>latin_small_letter_r</key>
    <string>latin_small_letter_r.glif</string>
    <key>latin_small_letter_s</key>
    <string>latin_small_letter_s.glif</string>
    <key>latin_small_letter_t</key>
    <string>latin_small_letter_t.glif</string>
    <key>latin_small_letter_u</key>
    <string>latin_small_letter_u.glif</string>
    <key>latin_small_letter_v</key>
    <string>latin_small_letter_v.glif</string>
    <key>latin_small_letter_w</key>
    <string>latin_small_letter_w.glif</string>
    <key>latin_small_letter_x</key>
    <string>latin_small_letter_x.glif</string>
    <key>latin_small_letter_y</key>
    <string>latin_small_letter_y.glif</string>
    <key>latin_small_letter_z</key>
    <string>latin_small_letter_z.glif</string>
    <key>left_curly_brace</key>
    <string>left_curly_brace.glif</string>
    <key>vertical_bar</key>
    <string>vertical_bar.glif</string>
    <key>right_curly_brace</key>
    <string>right_curly_brace.glif</string>
    <key>ascii_tilde</key>
    <string>ascii_tilde.glif</string>
    <key>no-break_space</key>
    <string>no-break_space.glif</string>
    <key>inverted_exclamation_mark</key>
    <string>inverted_exclamation_mark.glif</string>
    <key>cent_sign</key>
    <string>cent_sign.glif</string>
    <key>broken_bar</key>
    <string>broken_bar.glif</string>
    <key>diaeresis</key>
    <string>diaeresis.glif</string>
    <key>left_pointing_double_angle_quotation_mark</key>
    <string>left_pointing_double_angle_quotation_mark.glif</string>
    <key>degree_sign</key>
    <string>degree_sign.glif</string>
    <key>plus_minus_sign</key>
    <string>plus_minus_sign.glif</string>
    <key>en_dash</key>
    <string>en_dash.glif</string>
    <key>em_dash</key>
    <string>em_dash.glif</string>
    <key>left_single_quotation_mark</key>
    <string>left_single_quotation_mark.glif</string>
    <key>right_single_quotation_mark</key>
    <string>right_single_quotation_mark.glif</string>
    <key>left_double_quotation_mark</key>
    <string>left_double_quotation_mark.glif</string>
    <key>right_double_quotation_mark</key>
    <string>right_double_quotation_mark.glif</string>
    <key>acute_accent</key>
    <string>acute_accent.glif</string>
    <key>middle_dot</key>
    <string>middle_dot.glif</string>
    <key>right_pointing_double_angle_quotation_mark</key>
    <string>right_pointing_double_angle_quotation_mark.glif</string>
    <key>inverted_question_mark</key>
    <string>inverted_question_mark.glif</string>
    <key>multiplication_sign</key>
    <string>multiplication_sign.glif</string>
    <key>division_sign</key>
    <string>division_sign.glif</string>
    <key>leftwards_arrow</key>
    <string>leftwards_arrow.glif</string>
    <key>upwards_arrow</key>
    <string>upwards_arrow.glif</string>
    <key>rightwards_arrow</key>
    <string>rightwards_arrow.glif</string>
    <key>downwards_arrow</key>
    <string>downwards_arrow.glif</string>
    <key>smiling_face</key>
    <string>smiling_face.glif</string>
    <key>horizontal_ellipsis</key>
    <string>horizontal_ellipsis.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>double_dagger</key>
    <string>double_dagger.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>single_left_pointing_angle_quotation_mark</key>
    <string>single_left_pointing_angle_quotation_mark.glif</string>
    <key>single_right_pointing_angle_quotation_mark</key>
    <string>single_right_pointing_angle_quotation_mark.glif</string>
    <key>double_exclamation_mark</key>
    <string>double_exclamation_mark.glif</string>
    <key>question_exclamation_mark</key>
    <string>question_exclamation_mark.glif</string>
    <key>exclamation_question_mark</key>
    <string>exclamation_question_mark.glif</string>
    <key>low_asterisk</key>
    <string>low_asterisk.glif</string>
    <key>reversed_semicolon</key>
    <string>reversed_semicolon.glif</string>
    <key>two_asterisks_aligned_vertically</key>
    <string>two_asterisks_aligned_vertically.glif</string>
    <key>not_equal_to</key>
    <string>not_equal_to.glif</string>
    <key>minus_sign</key>
    <string>minus_sign.glif</string>
    <key>minus_or_plus_sign</key>
    <string>minus_or_plus_sign.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>trade_mark_sign</key>
    <string>trade_mark_sign.glif</string>
    <key>latin_capital_letter_a_with_grave</key>
    <string>latin_capital_letter_a_with_grave.glif</string>
    <key>latin_capital_letter_a_with_acute</key>
    <string>latin_capital_letter_a_with_acute.glif</string>
    <key>latin_capital_letter_a_with_circumflex</key>
    <string>latin_capital_letter_a_with_circumflex.glif</string>
    <key>latin_capital_letter_a_with_tilde</key>
    <string>latin_capital_letter_a_with_tilde.glif</string>
    <key>latin_capital_letter_a_with_diaeresis</key>
    <string>latin_capital_letter_a_with_diaeresis.glif</string>
    <key>latin_capital_letter_a_with_ring_above</key>
    <string>latin_capital_letter_a_with_ring_above.glif</string>
    <key>latin_capital_letter_e_with_grave</key>
    <string>latin_capital_letter_e_with_grave.glif</string>
    <key>latin_capital_letter_e_with_acute</key>
    <string>latin_capital_letter_e_with_acute.glif</string>
    <key>latin_capital_letter_e_with_circumflex</key>
    <string>latin_capital_letter_e_with_circumflex.glif</string>
    <key>latin_capital_letter_e_with_diaeresis</key>
    <string>latin_capital_letter_e_with_diaeresis.glif</string>
    <key>latin_capital_letter_i_with_grave</key>
    <string>latin_capital_letter_i_with_grave.glif</string>
    <key>latin_capital_letter_i_with_acute</key>
    <string>latin_capital_letter_i_with_acute.glif</string>
    <key>latin_capital_letter_i_with_circumflex</key>
    <string>latin_capital_letter_i_with_circumflex.glif</string>
    <key>latin_capital_letter_i_with_diaeresis</key>
    <string>latin_capital_letter_i_with_diaeresis.glif</string>
    <key>latin_capital_letter_n_with_tilde</key>
    <string>latin_capital_letter_n_with_tilde.glif</string>
    <key>latin_capital_letter_o_with_grave</key>
    <string>latin_capital_letter_o_with_grave.glif</string>
    <key>latin_capital_letter_o_with_acute</key>
    <string>latin_capital_letter_o_with_acute.glif</string>
    <key>latin_capital_letter_o_with_circumflex</key>
    <string>latin_capital_letter_o_with_circumflex.glif</string>
    <key>latin_capital_letter_o_with_tilde</key>
    <string>latin_capital_letter_o_with_tilde.glif</string>
    <key>latin_capital_letter_o_with_diaeresis</key>
    <string>latin_capital_letter_o_with_diaeresis.glif</string>
    <key>latin_capital_letter_u_with_grave</key>
    <string>latin_capital_letter_u_with_grave.glif</string>
    <key>latin_capital_letter_u_with_acute</key>
    <string>latin_capital_letter_u_with_acute.glif</string>
    <key>latin_capital_letter_u_with_circumflex</key>
    <string>latin_capital_letter_u_with_circumflex.glif</string>
    <key>latin_capital_letter_u_with_diaeresis</key>
    <string>latin_capital_letter_u_with_diaeresis.glif</string>
    <key>latin_capital_letter_y_with_acute</key>
    <string>latin_capital_letter_y_with_acute.glif</string>
    <key>latin_small_letter_a_with_grave</key>
    <string>latin_small_letter_a_with_grave.glif</string>
    <key>latin_small_letter_a_with_acute</key>
    <string>latin_small_letter_a_with_acute.glif</string>
    <key>latin_small_letter_a_with_circumflex</key>
    <string>latin_small_letter_a_with_circumflex.glif</string>
    <key>latin_small_letter_a_with_tilde</key>
    <string>latin_small_letter_a_with_tilde.glif</string>
    <key>latin_small_letter_a_with_diaeresis</key>
    <string>latin_small_letter_a_with_diaeresis.glif</string>
    <key>latin_small_letter_a_with_ring_above</key>
    <string>latin_small_letter_a_with_ring_above.glif</string>
    <key>latin_small_letter_e_with_grave</key>
    <string>latin_small_letter_e_with_grave.glif</string>
    <key>latin_small_letter_e_with_acute</key>
    <string>latin_small_letter_e_with_acute.glif</string>
    <key>latin_small_letter_e_with_circumflex</key>
    <string>latin_small_letter_e_with_circumflex.glif</string>
    <key>latin_small_letter_e_with_diaeresis</key>
    <string>latin_small_letter_e_with_diaeresis.glif</string>
    <key>latin_small_letter_i_with_grave</key>
    <string>latin_small_letter_i_with_grave.glif</string>
    <key>latin_small_letter_i_with_acute</key>
    <string>latin_small_letter_i_with_acute.glif</string>
    <key>latin_small_letter_i_with_circumflex</key>
    <string>latin_small_letter_i_with_circumflex.glif</string>
    <key>latin_small_letter_i_with_diaeresis</key>
    <string>latin_small_letter_i_with_diaeresis.glif</string>
    <key>latin_small_letter_n_with_tilde</key>
    <string>latin_small_letter_n_with_tilde.glif</string>
    <key>latin_small_letter_o_with_grave</key>
    <string>latin_small_letter_o_with_grave.glif</string>
    <key>latin_small_letter_o_with_acute</key>
    <string>latin_small_letter_o_with_acute.glif</string>
    <key>latin_small_letter_o_with_circumflex</key>
    <string>latin_small_letter_o_with_circumflex.glif</string>
    <key>latin_small_letter_o_with_tilde</key>
    <string>latin_small_letter_o_with_tilde.glif</string>
    <key>latin_small_letter_o_with_diaeresis</key>
    <string>latin_small_letter_o_with_diaeresis.glif</string>
    <key>latin_small_letter_u_with_grave</key>
    <string>latin_small_letter_u_with_grave.glif</string>
    <key>latin_small_letter_u_with_acute</key>
    <string>latin_small_letter_u_with_acute.glif</string>
    <key>latin_small_letter_u_with_circumflex</key>
    <string>latin_small_letter_u_with_circumflex.glif</string>
    <key>latin_small_letter_u_with_diaeresis</key>
    <string>latin_small_letter_u_with_diaeresis.glif</string>
    <key>latin_small_letter_y_with_acute</key>
    <string>latin_small_letter_y_with_acute.glif</string>
    <key>latin_small_letter_y_with_diaeresis</key>
    <string>latin_small_letter_y_with_diaeresis.glif</string>
    <key>latin_capital_letter_a_with_macron</key>
    <string>latin_capital_letter_a_with_macron.glif</string>
    <key>latin_small_letter_a_with_macron</key>
    <string>latin_small_letter_a_with_macron.glif</string>
    <key>latin_capital_letter_a_with_breve</key>
    <string>latin_capital_letter_a_with_breve.glif</string>
    <key>latin_small_letter_a_with_breve</key>
    <string>latin_small_letter_a_with_breve.glif</string>
    <key>latin_capital_letter_c_with_acute</key>
    <string>latin_capital_letter_c_with_acute.glif</string>
    <key>latin_small_letter_c_with_acute</key>
    <string>latin_small_letter_c_with_acute.glif</string>
    <key>latin_capital_letter_c_with_circumflex</key>
    <string>latin_capital_letter_c_with_circumflex.glif</string>
    <key>latin_small_letter_c_with_circumflex</key>
    <string>latin_small_letter_c_with_circumflex.glif</string>
    <key>latin_capital_letter_c_with_dot_above</key>
    <string>latin_capital_letter_c_with_dot_above.glif</string>
    <key>latin_small_letter_c_with_dot_above</key>
    <string>latin_small_letter_c_with_dot_above.glif</string>
    <key>latin_capital_letter_c_with_caron</key>
    <string>latin_capital_letter_c_with_caron.glif</string>
    <key>latin_small_letter_c_with_caron</key>
    <string>latin_small_letter_c_with_caron.glif</string>
    <key>latin_capital_letter_d_with_caron</key>
    <string>latin_capital_letter_d_with_caron.glif</string>
    <key>latin_small_letter_d_with_caron</key>
    <string>latin_small_letter_d_with_caron.glif</string>
    <key>latin_capital_letter_e_with_macron</key>
    <string>latin_capital_letter_e_with_macron.glif</string>
    <key>latin_small_letter_e_with_macron</key>
    <string>latin_small_letter_e_with_macron.glif</string>
    <key>latin_capital_letter_e_with_breve</key>
    <string>latin_capital_letter_e_with_breve.glif</string>
    <key>latin_small_letter_e_with_breve</key>
    <string>latin_small_letter_e_with_breve.glif</string>
    <key>latin_capital_letter_e_with_dot_above</key>
    <string>latin_capital_letter_e_with_dot_above.glif</string>
    <key>latin_small_letter_e_with_dot_above</key>
    <string>latin_small_letter_e_with_dot_above.glif</string>
    <key>latin_capital_letter_e_with_caron</key>
    <string>latin_capital_letter_e_with_caron.glif</string>
    <key>latin_small_letter_e_with_caron</key>
    <string>latin_small_letter_e_with_caron.glif</string>
    <key>latin_capital_letter_g_with_circumflex</key>
    <string>latin_capital_letter_g_with_circumflex.glif</string>
    <key>latin_small_letter_g_with_circumflex</key>
    <string>latin_small_letter_g_with_circumflex.glif</string>
    <key>latin_capital_letter_g_with_breve</key>
    <string>latin_capital_letter_g_with_breve.glif</string>
    <key>latin_small_letter_g_with_breve</key>
    <string>latin_small_letter_g_with_breve.glif</string>
    <key>latin_capital_letter_g_with_dot_above</key>
    <string>latin_capital_letter_g_with_dot_above.glif</string>
    <key>latin_small_letter_g_with_dot_above</key>
    <string>latin_small_letter_g_with_dot_above.glif</string>
    <key>latin_capital_letter_h_with_circumflex</key>
    <string>latin_capital_letter_h_with_circumflex.glif</string>
    <key>latin_small_letter_h_with_circumflex</key>
    <string>latin_small_letter_h_with_circumflex.glif</string>
    <key>latin_capital_letter_i_with_tilde</key>
    <string>latin_capital_letter_i_with_tilde.glif</string>
    <key>latin_small_letter_i_with_tilde</key>
    <string>latin_small_letter_i_with_tilde.glif</string>
    <key>latin_capital_letter_i_with_macron</key>
    <string>latin_capital_letter_i_with_macron.glif</string>
    <key>latin_small_letter_i_with_macron</key>
    <string>latin_small_letter_i_with_macron.glif</string>
    <key>latin_capital_letter_i_with_breve</key>
    <string>latin_capital_letter_i_with_breve.glif</string>
    <key>latin_small_letter_i_with_breve</key>
    <string>latin_small_letter_i_with_breve.glif</string>
    <key>latin_capital_letter_i_with_dot_above</key>
    <string>latin_capital_letter_i_with_dot_above.glif</string>
    <key>latin_capital_letter_j_with_circumflex</key>
    <string>latin_capital_letter_j_with_circumflex.glif</string>
    <key>latin_small_letter_j_with_circumflex</key>
    <string>latin_small_letter_j_with_circumflex.glif</string>
    <key>latin_capital_letter_l_with_acute</key>
    <string>latin_capital_letter_l_with_acute.glif</string>
    <key>latin_small_letter_l_with_acute</key>
    <string>latin_small_letter_l_with_acute.glif</string>
    <key>latin_capital_letter_l_with_caron</key>
    <string>latin_capital_letter_l_with_caron.glif</string>
    <key>latin_small_letter_l_with_caron</key>
    <string>latin_small_letter_l_with_caron.glif</string>
    <key>latin_capital_letter_n_with_acute</key>
    <string>latin_capital_letter_n_with_acute.glif</string>
    <key>latin_small_letter_n_with_acute</key>
    <string>latin_small_letter_n_with_acute.glif</string>
    <key>latin_capital_letter_n_with_caron</key>
    <string>latin_capital_letter_n_with_caron.glif</string>
    <key>latin_small_letter_n_with_caron</key>
    <string>latin_small_letter_n_with_caron.glif</string>
    <key>latin_capital_letter_o_with_macron</key>
    <string>latin_capital_letter_o_with_macron.glif</string>
    <key>latin_small_letter_o_with_macron</key>
    <string>latin_small_letter_o_with_macron.glif</string>
    <key>latin_capital_letter_o_with_breve</key>
    <string>latin_capital_letter_o_with_breve.glif</string>
    <key>latin_small_letter_o_with_breve</key>
    <string>latin_small_letter_o_with_breve.glif</string>
    <key>latin_capital_letter_o_with_double_acute</key>
    <string>latin_capital_letter_o_with_double_acute.glif</string>
    <key>latin_small_letter_o_with_double_acute</key>
    <string>latin_small_letter_o_with_double_acute.glif</string>
    <key>latin_capital_letter_r_with_acute</key>
    <string>latin_capital_letter_r_with_acute.glif</string>
    <key>latin_small_letter_r_with_acute</key>
    <string>latin_small_letter_r_with_acute.glif</string>
    <key>latin_capital_letter_r_with_caron</key>
    <string>latin_capital_letter_r_with_caron.glif</string>
    <key>latin_small_letter_r_with_caron</key>
    <string>latin_small_letter_r_with_caron.glif</string>
    <key>latin_capital_letter_s_with_acute</key>
    <string>latin_capital_letter_s_with_acute.glif</string>
    <key>latin_small_letter_s_with_acute</key>
    <string>latin_small_letter_s_with_acute.glif</string>
    <key>latin_capital_letter_s_with_circumflex</key>
    <string>latin_capital_letter_s_with_circumflex.glif</string>
    <key>latin_small_letter_s_with_circumflex</key>
    <string>latin_small_letter_s_with_circumflex.glif</string>
    <key>latin_capital_letter_s_with_caron</key>
    <string>latin_capital_letter_s_with_caron.glif</string>
    <key>latin_small_letter_s_with_caron</key>
    <string>latin_small_letter_s_with_caron.glif</string>
    <key>latin_capital_letter_t_with_caron</key>
    <string>latin_capital_letter_t_with_caron.glif</string>
    <key>latin_small_letter_t_with_caron</key>
    <string>latin_small_letter_t_with_caron.glif</string>
    <key>latin_capital_letter_u_with_tilde</key>
    <string>latin_capital_letter_u_with_tilde.glif</string>
    <key>latin_small_letter_u_with_tilde</key>
    <string>latin_small_letter_u_with_tilde.glif</string>
    <key>latin_capital_letter_u_with_macron</key>
    <string>latin_capital_letter_u_with_macron.glif</string>
    <key>latin_small_letter_u_with_macron</key>
    <string>latin_small_letter_u_with_macron.glif</string>
    <key>latin_capital_letter_u_with_breve</key>
    <string>latin_capital_letter_u_with_breve.glif</string>
    <key>latin_small_letter_u_with_breve</key>
    <string>latin_small_letter_u_with_breve.glif</string>
    <key>latin_capital_letter_u_with_ring_above</key>
    <string>latin_capital_letter_u_with_ring_above.glif</string>
    <key>latin_small_letter_u_with_ring_above</key>
    <string>latin_small_letter_u_with_ring_above.glif</string>
    <key>latin_capital_letter_u_with_double_acute</key>
    <string>latin_capital_letter_u_with_double_acute.glif</string>
    <key>latin_small_letter_u_with_double_acute</key>
    <string>latin_small_letter_u_with_double_acute.glif</string>
    <key>latin_capital_letter_w_with_circumflex</key>
    <string>latin_capital_letter_w_with_circumflex.glif</string>
    <key>latin_small_letter_w_with_circumflex</key>
    <string>latin_small_letter_w_with_circumflex.glif</string>
    <key>latin_capital_letter_y_with_circumflex</key>
    <string>latin_capital_letter_y_with_circumflex.glif</string>
    <key>latin_small_letter_y_with_circumflex</key>
    <string>latin_small_letter_y_with_circumflex.glif</string>
    <key>latin_capital_letter_y_with_diaeresis</key>
    <string>latin_capital_letter_y_with_diaeresis.glif</string>
    <key>latin_capital_letter_z_with_acute</key>
    <string>latin_capital_letter_z_with_acute.glif</string>
    <key>latin_small_letter_z_with_acute</key>
    <string>latin_small_letter_z_with_acute.glif</string>
    <key>latin_capital_letter_z_with_dot_above</key>
    <string>latin_capital_letter_z_with_dot_above.glif</string>
    <key>latin_small_letter_z_with_dot_above</key>
    <string>latin_small_letter_z_with_dot_above.glif</string>
    <key>latin_capital_letter_z_with_caron</key>
    <string>latin_capital_letter_z_with_caron.glif</string>
    <key>latin_small_letter_z_with_caron</key>
    <string>latin_small_letter_z_with_caron.glif</string>
    <key>latin_capital_letter_a_with_caron</key>
    <string>latin_capital_letter_a_with_caron.glif</string>
    <key>latin_small_letter_a_with_caron</key>
    <string>latin_small_letter_a_with_caron.glif</string>
    <key>latin_capital_letter_i_with_caron</key>
    <string>latin_capital_letter_i_with_caron.glif</string>
    <key>latin_small_letter_i_with_caron</key>
    <string>latin_small_letter_i_with_caron.glif</string>
    <key>latin_capital_letter_o_with_caron</key>
    <string>latin_capital_letter_o_with_caron.glif</string>
    <key>latin_small_letter_o_with_caron</key>
    <string>latin_small_letter_o_with_caron.glif</string>
    <key>latin_capital_letter_u_with_caron</key>
    <string>latin_capital_letter_u_with_caron.glif</string>
    <key>latin_small_letter_u_with_caron</key>
    <string>latin_small_letter_u_with_caron.glif</string>
    <key>latin_capital_letter_g_with_caron</key>
    <string>latin_capital_letter_g_with_caron.glif</string>
    <key>latin_small_letter_g_with_caron</key>
    <string>latin_small_letter_g_with_caron.glif</string>
    <key>latin_capital_letter_k_with_caron</key>
    <string>latin_capital_letter_k_with_caron.glif</string>
    <key>latin_small_letter_k_with_caron</key>
    <string>latin_small_letter_k_with_caron.glif</string>
    <key>latin_small_letter_j_with_caron</key>
    <string>latin_small_letter_j_with_caron.glif</string>
    <key>latin_capital_letter_g_with_acute</key>
    <string>latin_capital_letter_g_with_acute.glif</string>
    <key>latin_small_letter_g_with_acute</key>
    <string>latin_small_letter_g_with_acute.glif</string>
    <key>latin_capital_letter_n_with_grave</key>
    <string>latin_capital_letter_n_with_grave.glif</string>
    <key>latin_small_letter_n_with_grave</key>
    <string>latin_small_letter_n_with_grave.glif</string>
    <key>latin_capital_letter_h_with_caron</key>
    <string>latin_capital_letter_h_with_caron.glif</string>
    <key>latin_small_letter_h_with_caron</key>
    <string>latin_small_letter_h_with_caron.glif</string>
    <key>latin_capital_letter_a_with_dot_above</key>
    <string>latin_capital_letter_a_with_dot_above.glif</string>
    <key>latin_small_letter_a_with_dot_above</key>
    <string>latin_small_letter_a_with_dot_above.glif</string>
    <key>latin_capital_letter_o_with_dot_above</key>
    <string>latin_capital_letter_o_with_dot_above.glif</string>
    <key>latin_small_letter_o_with_dot_above</key>
    <string>latin_small_letter_o_with_dot_above.glif</string>
    <key>latin_capital_letter_y_with_macron</key>
    <string>latin_capital_letter_y_with_macron.glif</string>
    <key>latin_small_letter_y_with_macron</key>
    <string>latin_small_letter_y_with_macron.glif</string>
    <key>latin_capital_letter_b_with_dot_above</key>
    <string>latin_capital_letter_b_with_dot_above.glif</string>
    <key>latin_small_letter_b_with_dot_above</key>
    <string>latin_small_letter_b_with_dot_above.glif</string>
    <key>latin_capital_letter_d_with_dot_above</key>
    <string>latin_capital_letter_d_with_dot_above.glif</string>
    <key>latin_small_letter_d_with_dot_above</key>
    <string>latin_small_letter_d_with_dot_above.glif</string>
    <key>latin_capital_letter_f_with_dot_above</key>
    <string>latin_capital_letter_f_with_dot_above.glif</string>
    <key>latin_small_letter_f_with_dot_above</key>
    <string>latin_small_letter_f_with_dot_above.glif</string>
    <key>latin_capital_letter_g_with_macron</key>
    <string>latin_capital_letter_g_with_macron.glif</string>
    <key>latin_small_letter_g_with_macron</key>
    <string>latin_small_letter_g_with_macron.glif</string>
    <key>latin_capital_letter_h_with_dot_above</key>
    <string>latin_capital_letter_h_with_dot_above.glif</string>
    <key>latin_small_letter_h_with_dot_above</key>
    <string>latin_small_letter_h_with_dot_above.glif</string>
    <key>latin_capital_letter_h_with_diaeresis</key>
    <string>latin_capital_letter_h_with_diaeresis.glif</string>
    <key>latin_small_letter_h_with_diaeresis</key>
    <string>latin_small_letter_h_with_diaeresis.glif</string>
    <key>latin_capital_letter_k_with_acute</key>
    <string>latin_capital_letter_k_with_acute.glif</string>
    <key>latin_small_letter_k_with_acute</key>
    <string>latin_small_letter_k_with_acute.glif</string>
    <key>latin_capital_letter_m_with_acute</key>
    <string>latin_capital_letter_m_with_acute.glif</string>
    <key>latin_small_letter_m_with_acute</key>
    <string>latin_small_letter_m_with_acute.glif</string>
    <key>latin_capital_letter_m_with_dot_above</key>
    <string>latin_capital_letter_m_with_dot_above.glif</string>
    <key>latin_small_letter_m_with_dot_above</key>
    <string>latin_small_letter_m_with_dot_above.glif</string>
    <key>latin_capital_letter_n_with_dot_above</key>
    <string>latin_capital_letter_n_with_dot_above.glif</string>
    <key>latin_small_letter_n_with_dot_above</key>
    <string>latin_small_letter_n_with_dot_above.glif</string>
    <key>latin_capital_letter_p_with_acute</key>
    <string>latin_capital_letter_p_with_acute.glif</string>
    <key>latin_small_letter_p_with_acute</key>
    <string>latin_small_letter_p_with_acute.glif</string>
    <key>latin_capital_letter_p_with_dot_above</key>
    <string>latin_capital_letter_p_with_dot_above.glif</string>
    <key>latin_small_letter_p_with_dot_above</key>
    <string>latin_small_letter_p_with_dot_above.glif</string>
    <key>latin_capital_letter_r_with_dot_above</key>
    <string>latin_capital_letter_r_with_dot_above.glif</string>
    <key>latin_small_letter_r_with_dot_above</key>
    <string>latin_small_letter_r_with_dot_above.glif</string>
    <key>latin_capital_letter_s_with_dot_above</key>
    <string>latin_capital_letter_s_with_dot_above.glif</string>
    <key>latin_small_letter_s_with_dot_above</key>
    <string>latin_small_letter_s_with_dot_above.glif</string>
    <key>latin_capital_letter_t_with_dot_above</key>
    <string>latin_capital_letter_t_with_dot_above.glif</string>
    <key>latin_small_letter_t_with_dot_above</key>
    <string>latin_small_letter_t_with_dot_above.glif</string>
    <key>latin_capital_letter_v_with_tilde</key>
    <string>latin_capital_letter_v_with_tilde.glif</string>
    <key>latin_small_letter_v_with_tilde</key>
    <string>latin_small_letter_v_with_tilde.glif</string>
    <key>latin_capital_letter_w_with_grave</key>
    <string>latin_capital_letter_w_with_grave.glif</string>
    <key>latin_small_letter_w_with_grave</key>
    <string>latin_small_letter_w_with_grave.glif</string>
    <key>latin_capital_letter_w_with_acute</key>
    <string>latin_capital_letter_w_with_acute.glif</string>
    <key>latin_small_letter_w_with_acute</key>
    <string>latin_small_letter_w_with_acute.glif</string>
    <key>latin_capital_letter_w_with_diaeresis</key>
    <string>latin_capital_letter_w_with_diaeresis.glif</string>
    <key>latin_small_letter_w_with_diaeresis</key>
    <string>latin_small_letter_w_with_diaeresis.glif</string>
    <key>latin_capital_letter_w_with_dot_above</key>
    <string>latin_capital_letter_w_with_dot_above.glif</string>
    <key>latin_small_letter_w_with_dot_above</key>
    <string>latin_small_letter_w_with_dot_above.glif</string>
    <key>latin_capital_letter_x_with_dot_above</key>
    <string>latin_capital_letter_x_with_dot_above.glif</string>
    <key>latin_small_letter_x_with_dot_above</key>
    <string>latin_small_letter_x_with_dot_above.glif</string>
    <key>latin_capital_letter_x_with_diaeresis</key>
    <string>latin_capital_letter_x_with_diaeresis.glif</string>
    <key>latin_small_letter_x_with_diaeresis</key>
    <string>latin_small_letter_x_with_diaeresis.glif</string>
    <key>latin_capital_letter_y_with_dot_above</key>
    <string>latin_capital_letter_y_with_dot_above.glif</string>
    <key>latin_small_letter_y_with_dot_above</key>
    <string>latin_small_letter_y_with_dot_above.glif</string>
    <key>latin_capital_letter_z_with_circumflex</key>
    <string>latin_capital_letter_z_with_circumflex.glif</string>
    <key>latin_small_letter_z_with_circumflex</key>
    <string>latin_small_letter_z_with_circumflex.glif</string>
    <key>latin_small_letter_t_with_diaeresis</key>
    <string>latin_small_letter_t_with_diaeresis.glif</string>
    <key>latin_small_letter_w_with_ring_above</key>
    <string>latin_small_letter_w_with_ring_above.glif</string>
    <key>latin_small_letter_y_with_ring_above</key>
    <string>latin_small_letter_y_with_ring_above.glif</string>
    <key>latin_capital_letter_e_with_tilde</key>
    <string>latin_capital_letter_e_with_tilde.glif</string>
    <key>latin_small_letter_e_with_tilde</key>
    <string>latin_small_letter_e_with_tilde.glif</string>
    <key>latin_capital_letter_y_with_grave</key>
    <string>latin_capital_letter_y_with_grave.glif</string>
    <key>latin_small_letter_y_with_grave</key>
    <string>latin_small_letter_y_with_grave.glif</string>
    <key>latin_capital_letter_y_with_tilde</key>
    <string>latin_capital_letter_y_with_tilde.glif</string>
    <key>latin_small_letter_y_with_tilde</key>
    <string>latin_small_letter_y_with_tilde.glif</string>
    <key>multiplication_sign_with_dot_above</key>
    <string>multiplication_sign_with_dot_above.glif</string>
    <key>hyphen_with_diaeresis</key>
    <string>hyphen_with_diaeresis.glif</string>
  </dict>
</plist>
